<div class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-md my-8 border">
  <div>
    <!-- Header data -->
    <div class="bg-gray-800 p-4 rounded-lg shadow-md">
      <div class="flex justify-between items-center mb-4">
        <!-- Logo Section -->
        <div class="flex items-center">
          <img src="/img/logo_A3Mart.png" class="w-24" alt="A3Mart" />
        </div>

        <!-- Date and Time Section -->
        <p class="text-sm text-gray-400"><%= formatDate(data?.created_at) %></p>
      </div>

      <div class="flex justify-between items-center mb-4">
        <!-- Status Section -->
        <div class="flex flex-col gap-2">
          <div>
            <% if (data?.status === 1) { %>
            <span
              class="text-green-500 font-medium bg-green-100 px-2 py-1 rounded-lg"
            >
              <%= data?.status_name %>
            </span>
            <% } else if (data?.status === 2) { %>
            <span
              class="text-red-500 font-medium bg-red-100 px-2 py-1 rounded-lg"
            >
              <%= data?.status_name %>
            </span>
            <% } else { %>
            <span
              class="text-yellow-500 font-medium bg-yellow-100 px-2 py-1 rounded-lg"
            >
              <%= data?.status_name %>
            </span>
            <% } %>
          </div>
          <span class="text-gray-300 text-[13px] px-2 py-1 rounded-lg">
            * <%= data?.status_des %>
          </span>
        </div>

        <!-- UUID Section -->
        <p class="text-gray-400 text-xs font-mono"><%= data.uuid %></p>
      </div>
    </div>

    <% if ( data?.status === 2) { %>
    <!-- Rate Driver -->
    <div class="flex flex-col items-center justify-center">
      <p class="mt-3 text-xl text-center font-bold">How was the driver?</p>
      <div class="mt-2 mb-3 flex">
        <% if (data?.rating) { %> <% for (let i = 0; i < 5; i++) { %>
        <ion-icon
          name="star"
          class="text-4xl <%= i < data.rating ? 'text-yellow-400' : 'text-gray-400' %>"
        ></ion-icon>
        <% } %> <% } else { %> <% for (let i = 1; i <= 5; i++) { %>
        <ion-icon
          name="star"
          id="star<%= i %>"
          class="text-4xl text-gray-400 cursor-pointer"
          onclick="change(document.getElementById('star<%= i %>'))"
        ></ion-icon>
        <% } %> <% } %>
      </div>
      <% if (!data?.rating) { %>
      <button
        id="submit-rating"
        disabled
        class="my-4 px-4 py-2 bg-lime-500 text-white text-sm font-semibold rounded-lg shadow-md hover:bg-lime-600 transition-all disabled:opacity-50 disabled:cursor-not-allowed"
        onclick="submitRating()"
      >
        Submit Rating
      </button>
      <% } %>
    </div>
    <% } %>

    <hr class="border-gray-400" />

    <!-- Driver Info -->
    <div class="flex items-center">
      <img
        src="<%= user.profile_pic || '/img/profile.webp' %>"
        alt="Profile"
        class="mt-5 rounded-full w-20 h-20"
      />

      <div class="ml-2 mt-3">
        <p class="text-gray-500"><%= data?.driver?.plat_num %></p>
        <p class="font-bold text-lg"><%= data?.driver?.name %></p>
      </div>
    </div>
    <hr class="mt-3 border-gray-400" />

    <!-- Detail Location -->
    <p class="text-gray-700 font-bold my-3">Delivery Details</p>
    <div class="flex items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="34"
        height="34"
        viewBox="0 0 24 24"
        fill="none"
        stroke="#f77102"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-circle-dot"
      >
        <circle cx="12" cy="12" r="10" />
        <circle cx="12" cy="12" r="1" />
      </svg>

      <div class="ml-3">
        <p class="text-sm text-gray-400">Delivery Location</p>
        <p class="font-bold text-lg">A3Mart's Affiliate</p>
      </div>
    </div>
    <hr class="mt-3 border-gray-400" />

    <!-- Shopping List -->
    <p class="text-gray-700 font-bold my-3">Shopping List</p>
    <% data?.cart?.items?.forEach(item => { %>
    <div class="flex justify-between text-gray-500">
      <p><%= item?.quantity %> X <%= item?.title %></p>
      <p><%= formatCurrency(item?.price) %></p>
    </div>
    <hr class="my-3 border-gray-300" />
    <% }) %>

    <!-- Detail Payment -->
    <p class="text-gray-700 font-bold my-3">Detail Payment</p>
    <div>
      <div class="flex justify-between text-gray-500">
        <p class="">Total Price</p>
        <p><%= formatCurrency(data?.cart?.cart_total) %></p>
      </div>
      <div class="flex justify-between text-gray-500">
        <p class="">Tax</p>
        <p><%= formatCurrency(data?.cart?.tax) %></p>
      </div>
      <div class="flex justify-between text-gray-500">
        <p class="">Member Discount</p>
        <p><%= formatCurrency(data?.cart?.member_discount) %></p>
      </div>
      <div class="flex justify-between text-gray-500">
        <p class="">Delivery Cost</p>
        <p><%= formatCurrency(data?.cart?.delivery) %></p>
      </div>
      <hr class="border-gray-400 my-3" />
      <div class="flex justify-between font-bold">
        <p class="">Total Payment</p>
        <p><%= formatCurrency(data?.cart?.total) %></p>
      </div>
    </div>
  </div>
</div>

<script>
  let currentRating = 0;
  const submit = document.getElementById("submit-rating");
  const change = (clicked) => {
    const stars = [
      document.getElementById("star1"),
      document.getElementById("star2"),
      document.getElementById("star3"),
      document.getElementById("star4"),
      document.getElementById("star5"),
    ];

    const clickedIndex = stars.indexOf(clicked);
    let isGray = clicked.classList.contains("text-gray-400");

    stars.forEach((star, index) => {
      if (index <= clickedIndex) {
        star.classList.remove("text-gray-400");
        star.classList.add("text-yellow-500");
      } else {
        star.classList.remove("text-yellow-500");
        star.classList.add("text-gray-400");
      }
    });
    submit.disabled = false;
    currentRating = clickedIndex + 1;
  };
</script>
