<body class="bg-gray-50 p-8">
  <div class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-md">
    <div>
      <!-- Header data -->
      <div class="bg-gray-800 p-4 rounded-lg shadow-md">
        <div class="flex justify-between items-center mb-4">
          <!-- Logo Section -->
          <div class="flex items-center">
            <img src="/img/logo_A3Mart.png" class="w-24" alt="A3Mart" />
          </div>

          <!-- Date and Time Section -->
          <p class="text-sm text-gray-400">
            <%= formatDate(data?.created_at) %>, <%= new
            Date(data?.created_at).toLocaleTimeString('en-US', { hour:
            'numeric', minute: 'numeric', hour12: true }) %>
          </p>
        </div>

        <div class="flex justify-between items-center mb-4">
          <!-- Status Section -->
          <div>
            <% if (data?.status) { %> <% if (data?.status === 1) { %>
            <span
              class="text-green-500 font-medium bg-green-100 px-2 py-1 rounded-lg"
            >
              <%= data?.status_name %>
            </span>
            <% } else if (data?.status === 2) { %>
            <span
              class="text-red-500 font-medium bg-red-100 px-2 py-1 rounded-lg"
            >
              <%= data?.status_name %>
            </span>
            <% } else { %>
            <span
              class="text-yellow-500 font-medium bg-yellow-100 px-2 py-1 rounded-lg"
            >
              <%= data?.status_name %>
            </span>
            <% } %> <% } else { %>
            <span
              class="text-gray-500 font-medium bg-gray-100 px-2 py-1 rounded-lg"
            >
              Unknown Status
            </span>
            <% } %>
          </div>

          <!-- UUID Section -->
          <p class="text-gray-400 text-xs font-mono"><%= data.uuid %></p>
        </div>
      </div>

      <!-- Rate Driver -->
      <div class="flex flex-col items-center justify-center">
        <p class="mt-3 text-xl text-center font-bold">How was the driver?</p>
        <div class="mt-2 mb-3 flex">
          <ion-icon
            name="star"
            id="star1"
            class="text-4xl text-gray-400 cursor-pointer"
            onclick="change(star1)"
          ></ion-icon>
          <ion-icon
            name="star"
            id="star2"
            class="text-4xl text-gray-400 cursor-pointer"
            onclick="change(star2)"
          ></ion-icon>
          <ion-icon
            name="star"
            id="star3"
            class="text-4xl text-gray-400 cursor-pointer"
            onclick="change(star3)"
          ></ion-icon>
          <ion-icon
            name="star"
            id="star4"
            class="text-4xl text-gray-400 cursor-pointer"
            onclick="change(star4)"
          ></ion-icon>
          <ion-icon
            name="star"
            id="star5"
            class="text-4xl text-gray-400 cursor-pointer"
            onclick="change(star5)"
          ></ion-icon>
        </div>
      </div>
      <hr class="border-gray-400 dark:border-gray-700" />

      <!-- Driver Info -->
      <div class="flex items-center">
        <img
          src="<%= user.profile_pic || '/img/profile.webp' %>"
          alt="Profile"
          class="mt-5 rounded-full w-20 h-20"
        />

        <div class="ml-2 mt-3">
          <p class="text-gray-500"><%= data?.driver?.plat_num %></p>
          <p class="font-bold text-lg"><%= data?.driver?.name %></p>
        </div>
      </div>
      <hr class="mt-3 border-gray-400 dark:border-gray-700" />

      <!-- Detail Location -->
      <p class="text-gray-700 font-bold my-3">Delivery Details</p>
      <div class="flex items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="34"
          height="34"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#f77102"
          stroke-width="3"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-circle-dot"
        >
          <circle cx="12" cy="12" r="10" />
          <circle cx="12" cy="12" r="1" />
        </svg>

        <div class="ml-3">
          <p class="text-sm text-gray-400">Delivery Location</p>
          <p class="font-bold text-lg">Ajinomoto Home</p>
        </div>
      </div>
      <hr class="mt-3 border-gray-400 dark:border-gray-700" />

      <!-- Shopping List -->
      <p class="text-gray-700 font-bold my-3">Shopping List</p>
      <% data?.cart?.items?.forEach(item => { %>
      <div class="flex justify-between text-gray-500">
        <p><%= item?.quantity %> X <%= item?.title %></p>
        <p><%= formatCurrency(item?.price) %></p>
      </div>
      <hr class="my-3 border-gray-300 dark:border-gray-400" />
      <% }) %>

      <!-- Detail Payment -->
      <p class="text-gray-700 font-bold my-3">Detail Payment</p>
      <div>
        <div class="flex justify-between text-gray-500">
          <p class="">Total Price</p>
          <p><%= formatCurrency(data?.cart?.cart_total) %></p>
        </div>
        <div class="flex justify-between text-gray-500">
          <p class="">Tax</p>
          <p><%= formatCurrency(data?.cart?.tax) %></p>
        </div>
        <div class="flex justify-between text-gray-500">
          <p class="">Member Discount</p>
          <p><%= formatCurrency(data?.cart?.member_discount) %></p>
        </div>
        <div class="flex justify-between text-gray-500">
          <p class="">Delivery Cost</p>
          <p><%= formatCurrency(data?.cart?.delivery) %></p>
        </div>
        <hr class="border-gray-400 dark:border-gray-700 my-3" />
        <div class="flex justify-between font-bold">
          <p class="">Total Payment</p>
          <p><%= formatCurrency(data?.cart?.total) %></p>
        </div>
      </div>
    </div>
  </div>
</body>

<script>
  const change = (clicked) => {
    const stars = [
      document.getElementById("star1"),
      document.getElementById("star2"),
      document.getElementById("star3"),
      document.getElementById("star4"),
      document.getElementById("star5"),
    ];

    let isGray = clicked.classList.contains("text-gray-400");

    stars.forEach((star, index) => {
      if (index <= stars.indexOf(clicked)) {
        star.classList.remove("text-gray-400");
        star.classList.add("text-yellow-500");
      } else {
        star.classList.remove("text-yellow-500");
        star.classList.add("text-gray-400");
      }
    });

    if (!isGray) {
      clicked.classList.remove("text-yellow-500");
      clicked.classList.add("text-gray-400");
    }
  };
</script>
