<!-- ========== HEADER ========== -->

<header
  class="flex sticky top-0 flex-wrap md:justify-start md:flex-nowrap z-50 w-full py-4 bg-slate-950 shadow-lg"
>
  <nav
    class="relative w-full flex flex-wrap md:grid md:grid-cols-12 items-center px-4 md:px-8 mx-auto"
  >
    <div class="md:col-span-3">
      <!-- Logo -->

      <a
        class="flex-none rounded-xl text-3xl text-teal-400 inline-block font-semibold focus:outline-none focus:opacity-80"
        href="/"
        aria-label="Preline"
      >
        <img src="/img/logo_A3Mart.png" class="max-w-44" alt="" />
      </a>

      <!-- End Logo -->
    </div>

    <!-- Button Group -->

    <div
      class="flex items-center gap-x-1 md:gap-x-2 ms-auto py-1 md:ps-6 md:order-3 md:col-span-3"
    >
      <% if (!req.isAuthenticated) { %>

      <div class="flex gap-2 items-center">
        <a
          href="/sign-in"
          type="button"
          class="py-2 px-3 whitespace-nowrap inline-flex items-center gap-x-2 text-sm font-medium rounded-xl bg-white border border-gray-300 text-black hover:bg-gray-100 focus:outline-none focus:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none "
        >
          Sign in
        </a>

        <a
          href="/register"
          type="button"
          class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-xl border border-transparent bg-lime-500 text-white hover:bg-lime-600 focus:outline-none focus:bg-lime-600 transition disabled:opacity-50 disabled:pointer-events-none"
        >
          Register
        </a>
      </div>

      <% } else { %>

      <div class="md:flex hidden gap-10 items-center justify-end">
        <div class="flex items-start gap-5">
          <% menus.forEach(menu=> { %> <% if (menu.href) { %>

          <div class="relative inline-block">
            <a
              data-popover-placement="bottom"
              data-popover-target="<%= menu.title %>Big"
              href="<%- menu.href %>"
            >
              <span class="hover:text-lime-400 text-lg text-white">
                <%- menu.icon %>
              </span>
            </a>

            <!-- Dot -->

            <span
              id="CartDot"
              class="absolute top-0 right-0 w-2.5 h-2.5 bg-green-500 rounded-full border-2 border-white <%= menu.title === 'Cart' && cart?.items?.length > 0 ? "" : "hidden"%>"
            ></span>
            <span
              id="HistoryDot"
              class="absolute top-0 right-0 w-2.5 h-2.5 bg-green-500 rounded-full border-2 border-white <%= menu.title === 'History' && history?.find(item => item.rating === null && item.status === 1) ? "" : "hidden"%>"
            ></span>
            <span
              id="NotifDot"
              class="absolute top-0 right-0 w-2.5 h-2.5 bg-green-500 rounded-full border-2 border-white <%= menu.title === 'Notifications' && notification?.find(item => item.is_read === false) ? "" : "hidden"%>"
            ></span>

          </div>

          <% } %>

          <div
            data-popover
            id="<%= menu.title %>Big"
            role="tooltip"
            class="absolute z-10 invisible inline-block w-80 max-h-96 overflow-y-auto text-sm text-gray-700 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-lg opacity-0 "
          >
            <!-- Header -->

            <div
              class="flex items-center justify-between px-4 py-3 bg-gray-100 border-b border-gray-200 rounded-t-lg "
            >
              <h3
                class="font-semibold text-lg gap-2 flex items-center text-gray-900 "
              >
                <span class="text-slate-950"><%- menu.icon %></span>

                <span><%- menu.title %></span>
              </h3>

              <div class="flex items-center p-2 bg-slate-950 rounded-lg">
                <img src="/img/logo_A3Mart.png" alt="Logo" class="w-20" />
              </div>
            </div>

            <div>
              <!-- Cart Section -->

              <% if (menu.title === "Cart") { %>

              <div id="Cart-Pop" class="min-h-32">
                <% if (cart?.items?.length > 0) { %>

                <div>
                  <% cart?.items?.slice(0, 10)?.forEach(item => { %>

                  <a
                    href="/product/<%= item.id %>"
                    class="flex gap-2 items-center m-2 bg-white rounded-lg shadow-md border border-gray-200 "
                  >
                    <img
                      src="<%- item.thumbnail %>"
                      alt="Product Image"
                      class="w-16 h-16 rounded-md object-cover "
                    />

                    <div class="flex-grow space-y-1">
                      <p
                        class="text-base font-semibold text-gray-900 "
                      >
                        <%- item.title %>
                      </p>

                      <p
                        class="text-xs text-gray-500 flex items-center"
                      >
                        <span
                          class="bg-blue-100 text-blue-600  px-2 py-0.5 rounded-full font-medium mr-2"
                        >
                          Qty: <%- item.quantity %>
                        </span>
                      </p>

                      <p
                        class="text-gray-800 :text-gray-200 font-bold text-lg whitespace-nowrap"
                      >
                        <%= formatCurrency(item.price ) %>
                      </p>
                    </div>
                  </a>

                  <% })%>
                </div>

                <% } else { %>

                <p
                  class="text-sm text-gray-500 flex justify-center items-center mt-2 mb-32"
                >
                  Your cart is empty.
                </p>

                <% } %>
              </div>

              <div
                id="cartViewAll"
                class="sticky bottom-0 left-0 right-0 py-2 bg-white text-center shadow-md border rounded-t-lg <%= cart?.items?.length > 0 ? "" : "hidden" %>"
              >
                <a
                  href="/cart"
                  class="text-blue-500 hover:text-blue-700 font-semibold"
                  >View All</a
                >
              </div>


              <!-- History Section -->

              <% } else if (menu.title === "History") { %>

              <div>
                <% if (history?.length > 0) { %>

                <div>
                  <% history?.slice(0, 10)?.forEach(item => { %>

                  <a
                    href="/<%= item.status !== 1 || item.status !== 2 ? "history" : "order" %>/<%= item.uuid %>"
                    class="flex items-center space-x-4 p-4 m-2 bg-white rounded-lg shadow-lg border border-gray-200 transition-transform hover:scale-105 hover:shadow-xl"
                  >
                    <div class="w-full">
                      <p class="text-sm font-semibold text-gray-900">
                        <%= formatDate(item.created_at) %>
                      </p>

                      <div class="flex items-center mt-2">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="48"
                          height="48"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="#47a31f"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="lucide lucide-shopping-cart"
                        >
                          <circle cx="8" cy="21" r="1" />
                          <circle cx="19" cy="21" r="1" />
                          <path
                            d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"
                          />
                        </svg>

                        <p class="text-lg text-gray-900 font-medium ml-3">
                          <%= formatCurrency(item.cart.total) %>
                        </p>
                      </div>

                      <!-- Status Positioned at the Bottom Right -->
                      <div class="flex justify-end">
                        <% if (item?.status === 1) { %>
                        <span
                          class="flex gap-2 border w-max border-green-400 items-center text-green-500 bg-green-100 px-3 py-1 rounded-lg text-sm font-semibold"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-check"
                          >
                            <path d="M20 6 9 17l-5-5" />
                          </svg>
                          <%= item?.status_name %>
                        </span>
                        <% } else if (item?.status === 2) { %>
                        <span
                          class="flex gap-2 items-center w-max border border-red-400 text-red-500 bg-red-100 px-3 py-1 rounded-lg text-sm font-semibold"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="18"
                            height="18"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-circle-x"
                          >
                            <circle cx="12" cy="12" r="10" />
                            <path d="m15 9-6 6" />
                            <path d="m9 9 6 6" />
                          </svg>
                          <%= item?.status_name %>
                        </span>
                        <% } else { %>
                        <span
                          class="flex gap-2 items-center border w-max border-yellow-400 text-yellow-500 bg-yellow-100 px-3 py-1 rounded-lg text-sm font-semibold"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="18"
                            height="18"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-clock-4"
                          >
                            <circle cx="12" cy="12" r="10" />
                            <polyline points="12 6 12 12 16 14" />
                          </svg>
                          <%= item?.status_name %>
                        </span>
                        <% } %>
                      </div>
                    </div>
                  </a>

                  <% }) %>
                </div>

                <% } else { %>

                <p
                  class="text-sm text-gray-500 flex justify-center items-center mt-2 mb-32"
                >
                  You haven't done any orders yet.
                </p>

                <% } %>
              </div>

              <div
                id="historyViewAll"
                class="sticky bottom-0 left-0 right-0 py-2 bg-white text-center shadow-md border rounded-t-lg <%= history?.length > 0 ? "" : "hidden" %>"
              >
                <a
                  href="/history"
                  class="text-blue-500 hover:text-blue-700 font-semibold"
                  >View All</a
                >
              </div>
              <!-- Notification Section -->

              <% } else if (menu.title === "Notifications") { %>

              <div class="min-h-32">
                <% if (notification?.length > 0) { %>

                <div>
                  <% notification?.forEach(notification => { %>

                  <a
                    href="/notification"
                    class="flex items-center space-x-4 m-2 p-4 bg-white  rounded-lg shadow-lg border border-gray-200 transition-transform hover:scale-105 hover:shadow-xl"
                  >
                    <div
                      class="flex items-center justify-center w-10 h-10 bg-lime-100 text-lime-500 rounded-full"
                    >
                      <%= notification.icon %>
                    </div>

                    <div class="flex-1">
                      <p
                        class="text-sm text-gray-900 font-medium"
                      >
                        <%- notification.message %>
                      </p>
                    </div>
                  </a>

                  <% }) %>
                </div>

                <% } else { %>

                <div
                  class="flex items-center space-x-4 p-4 bg-white  rounded-lg shadow-md border border-gray-2000 m-2 hover:bg-green-500 hover:bg-opacity-80 transition duration-200 ease-in-out"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
                    />
                  </svg>

                  <!-- Tulisan acak di kanan -->

                  <div class="flex-column">
                    <p class="text-sm text-gray-700">
                      Hello Welcome!
                    </p>

                    <p class="text-sm text-gray-700">
                      Let's get started.
                    </p>
                  </div>
                </div>
                <a href="/become-member">
                  <div
                    class="flex items-center space-x-4 p-4 bg-white rounded-lg shadow-md border border-gray-200 m-2 hover:bg-green-500 hover:bg-opacity-80 transition duration-200 ease-in-out"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="size-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z"
                      />
                    </svg>

                    <!-- Tulisan acak di kanan -->

                    <div class="flex-column">
                      <p class="text-sm text-gray-700">
                        Become a member!
                      </p>

                      <p class="text-sm text-gray-700">
                        Enjoy exclusive benefits.
                      </p>
                    </div>
                  </div>
                </a>

                <a href="/top-up">
                  <div
                    class="flex items-center space-x-4 p-4 bg-white rounded-lg shadow-md border border-gray-200 m-2 hover:bg-green-500 hover:bg-opacity-80 transition duration-200 ease-in-out"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="size-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Z"
                      />
                    </svg>

                    <!-- Tulisan acak di kanan -->

                    <div class="flex-column">
                      <p class="text-sm text-gray-700">
                        Top-up successful!
                      </p>

                      <p class="text-sm text-gray-700">
                        Your balance has been updated.
                      </p>
                    </div>
                  </div>
                </a>

                <div
                  class="flex items-center space-x-4 p-4 bg-white rounded-lg shadow-md border border-gray-200 m-2 hover:bg-green-500 hover:bg-opacity-80 transition duration-200 ease-in-out"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z"
                    />
                  </svg>

                  <!-- Tulisan acak di kanan -->

                  <div class="flex-column">
                    <p class="text-sm text-gray-700">
                      Order confirmed!
                    </p>

                    <p class="text-sm text-gray-700">
                      We’re processing it now.
                    </p>
                  </div>
                </div>

                <div
                  class="flex items-center space-x-4 p-4 bg-white rounded-lg shadow-md border border-gray-200 m-2 hover:bg-green-500 hover:bg-opacity-80 transition duration-200 ease-in-out"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="m20.25 7.5-.625 10.632a2.25 2.25 0 0 1-2.247 2.118H6.622a2.25 2.25 0 0 1-2.247-2.118L3.75 7.5m6 4.125 2.25 2.25m0 0 2.25 2.25M12 13.875l2.25-2.25M12 13.875l-2.25 2.25M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125Z"
                    />
                  </svg>

                  <!-- Tulisan acak di kanan -->

                  <div class="flex-column">
                    <p class="text-sm text-gray-700">
                      Order canceled!
                    </p>

                    <p class="text-sm text-gray-700">
                      Contact us for any questions.
                    </p>
                  </div>
                </div>

                <div
                  class="flex items-center space-x-4 p-4 bg-white rounded-lg shadow-md border border-gray-200 m-2 hover:bg-green-500 hover:bg-opacity-80 transition duration-200 ease-in-out"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0 1 18 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3 1.5 1.5 3-3.75"
                    />
                  </svg>

                  <!-- Tulisan acak di kanan -->

                  <div class="flex-column">
                    <p class="text-sm text-gray-700">
                      Order completed!
                    </p>

                    <p class="text-sm text-gray-700">
                      Thank you for your purchase.
                    </p>
                  </div>
                </div>

                <div
                  class="flex items-center space-x-4 p-4 bg-white rounded-lg shadow-md border border-gray-200 m-2 hover:bg-green-500 hover:bg-opacity-80 transition duration-200 ease-in-out"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M8.25 18.75a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 0 1-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 0 0-3.213-9.193 2.056 2.056 0 0 0-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 0 0-10.026 0 1.106 1.106 0 0 0-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12"
                    />
                  </svg>

                  <!-- Tulisan acak di kanan -->

                  <div class="flex-column">
                    <p class="text-sm text-gray-700">
                      On the way!
                    </p>

                    <p class="text-sm text-gray-700">
                      Your order is heading to the market.
                    </p>
                  </div>
                </div>

                <div
                  class="flex items-center space-x-4 p-4 bg-white rounded-lg shadow-md border border-gray-200 m-2 hover:bg-green-500 hover:bg-opacity-80 transition duration-200 ease-in-out"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M8.25 18.75a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 0 1-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 0 0-3.213-9.193 2.056 2.056 0 0 0-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 0 0-10.026 0 1.106 1.106 0 0 0-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12"
                    />
                  </svg>

                  <!-- Tulisan acak di kanan -->

                  <div class="flex-column">
                    <p class="text-sm text-gray-700">
                      On the way!
                    </p>

                    <p class="text-sm text-gray-700">
                      Your order has arrived at the market
                    </p>
                  </div>
                </div>

                <div
                  class="flex items-center space-x-4 p-4 bg-white rounded-lg shadow-md border border-gray-200 m-2 hover:bg-green-500 hover:bg-opacity-80 transition duration-200 ease-in-out"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M8.25 18.75a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 0 1-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 0 0-3.213-9.193 2.056 2.056 0 0 0-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 0 0-10.026 0 1.106 1.106 0 0 0-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12"
                    />
                  </svg>

                  <!-- Tulisan acak di kanan -->

                  <div class="flex-column">
                    <p class="text-sm text-gray-700">
                      On the way!
                    </p>

                    <p class="text-sm text-gray-700">
                      Your order is on its way to you, almost there!
                    </p>
                  </div>
                </div>

                <div
                  class="flex items-center space-x-4 p-4 bg-white rounded-lg shadow-md border border-gray-200 m-2 hover:bg-green-500 hover:bg-opacity-80 transition duration-200 ease-in-out"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M8.25 18.75a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 0 1-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 0 0-3.213-9.193 2.056 2.056 0 0 0-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 0 0-10.026 0 1.106 1.106 0 0 0-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12"
                    />
                  </svg>

                  <!-- Tulisan acak di kanan -->

                  <div class="flex-column">
                    <p class="text-sm text-gray-700">
                      Arrived!
                    </p>

                    <p class="text-sm text-gray-700">
                      Your order has arrived
                    </p>
                  </div>
                </div>

                <p
                  class="text-sm text-gray-500 flex justify-center items-center mt-2 mb-32"
                >
                  No notifications yet. Stay tuned!
                </p>
                <% } %>
              </div>

              <% } %>
              <div
                id="notifViewAll"
                class="sticky bottom-0 left-0 right-0 py-2 bg-white text-center shadow-md border rounded-t-lg <%= notification?.length > 0 ? "" : "hidden" %>"
              >
                <a
                  href="/cart"
                  class="text-blue-500 hover:text-blue-700 font-semibold"
                  >View All</a
                >
              </div>
            </div>

            <!-- Popover Arrow -->

            <div data-popper-arrow></div>
          </div>

          <% }) %>
        </div>

        <a
          data-popover-target="user-profile"
          data-popover-placement="bottom"
          href="/profile"
          class="flex bg-gradient-to-r items-center from-emerald-400 to-lime-300 rounded-lg px-3 py-2 shadow-lg"
        >
          <div class="flex items-center gap-2">
            <!-- Profile Image -->

            <div
              class="w-8 h-8 sm:w-10 sm:h-10 rounded-full border-2 border-white overflow-hidden flex items-center justify-center shadow-md bg-white"
            >
              <img
                src="<%= user.profile_pic || '/img/profile.webp' %>"
                alt="profile"
                class="w-full h-full object-cover"
              />
            </div>

            <!-- Text Content (Only shown on medium screens) -->

            <div
              class="text-white font-semibold text-sm md:text-base truncate flex-grow min-w-0 hidden lg:block"
            >
              <%= user.fullname.split(" ")[0] %>
            </div>
          </div>
        </a>

        <div
          data-popover
          id="user-profile"
          role="tooltip"
          class="absolute z-10 invisible inline-block w-72 text-sm transition-opacity duration-200 transform bg-white border border-gray-300 rounded-lg shadow-md opacity-0"
        >
          <div class="p-4">
            <!-- Profile Picture and Basic Info -->

            <a href="/profile" class="flex items-center mb-3">
              <img
                class="w-12 h-12 object-cover rounded-full border-2 shadow-sm border-gray-600"
                src="<%= user.profile_pic || '/img/profile.webp' %>"
                alt="Profile Picture"
              />

              <div class="ml-3">
                <p
                  class="text-base font-semibold text-gray-900"
                >
                  <%= user.fullname %>
                </p>

                <p class="text-sm text-gray-500">
                  <%= user.email %>
                </p>
              </div>
            </a>

            <!-- Balance Information -->

            <div class="mb-4">
              <p class="text-sm font-medium text-gray-600">
                Balance:
              </p>

              <p class="text-lg font-semibold text-gray-800">
                <%= formatCurrency(user.balance) %>
              </p>
            </div>

            <!-- Additional Information -->

            <% if (user.is_member) { %>

            <div class="mb-4">
              <p class="text-sm font-medium text-gray-600">
                Member Since:
              </p>

              <p class="text-sm text-gray-900">
                <%= formatDate(user.member_since) %>
              </p>
            </div>

            <div class="mb-4">
              <p class="text-sm font-medium text-gray-600">
                Account Status:
              </p>

              <p
                class="text-sm text-green-600 font-semibold"
              >
                Active
              </p>
            </div>

            <% } else { %>

            <!-- Non-Member Specific Menu -->

            <div class="mb-4">
              <a
                href="/become-member"
                class="block w-full text-center text-sm font-medium text-indigo-600 bg-gray-100 border border-gray-300 rounded-md px-4 py-2 hover:bg-indigo-50 hover:border-indigo-400 hover:text-indigo-700 focus:ring-2 focus:ring-indigo-500 focus:outline-none"
              >
                Become a Member
              </a>
            </div>

            <% } %>

            <!-- Logout Button -->

            <div class="mt-4">
              <button
                type="submit"
                class="w-full text-sm font-medium text-red-600 bg-gray-100 border border-gray-300 rounded-md px-4 py-2 hover:bg-red-50 hover:border-red-400 hover:text-red-700 focus:ring-2 focus:ring-red-500 focus:outline-none"
                onclick="handleLogout()"
              >
                Logout
              </button>
            </div>
          </div>

          <div data-popper-arrow></div>
        </div>
      </div>

      <% } %>

      <div class="md:hidden">
        <button
          type="button"
          class="hs-collapse-toggle flex justify-center items-center text-sm font-semibold rounded-xl border border-gray-300 text-white hover:bg-slate-400 focus:outline-none focus:bg-slate-400 p-1 disabled:opacity-50 disabled:pointer-events-none"
          id="hs-navbar-hcail-collapse"
          aria-expanded="false"
          aria-controls="hs-navbar-hcail"
          aria-label="Toggle navigation"
          data-hs-collapse="#hs-navbar-hcail"
        >
          <svg
            class="hs-collapse-open:hidden shrink-0"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <line x1="3" x2="21" y1="6" y2="6" />

            <line x1="3" x2="21" y1="12" y2="12" />

            <line x1="3" x2="21" y1="18" y2="18" />
          </svg>

          <svg
            class="hs-collapse-open:block hidden shrink-0"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M18 6 6 18" />

            <path d="m6 6 12 12" />
          </svg>
        </button>
      </div>
    </div>

    <!-- End Button Group -->

    <!-- Collapse -->

    <div
      id="hs-navbar-hcail"
      class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow md:block md:w-auto md:basis-auto md:order-2 md:col-span-6"
      aria-labelledby="hs-navbar-hcail-collapse"
    >
      <a
        href="<%=req.isAuthenticated ? '/profile' : '/sign-in'%>"
        class="md:hidden flex flex-shrink-0 mt-2 bg-gradient-to-r from-emerald-400 to-lime-300 rounded-lg px-4 py-3 shadow-lg"
      >
        <div class="flex items-center gap-4">
          <!-- Profile Image -->

          <div
            class="rounded-full overflow-hidden flex items-center justify-center w-12 h-12 shadow-md bg-white"
          >
            <img src="<%= req.isAuthenticated ? user.profile_pic ||
            '/img/profile.webp' : "/img/profile.webp"%>" alt="profile"
            class="w-full h-full object-cover" />
          </div>

          <!-- Text Content -->

          <div class="text-white font-semibold text-xl">
            Hi,<%= req.isAuthenticated ? user.fullname : "User"%>!

            <span class="block text-lg font-light"
              ><%=req.isAuthenticated ? `Welcome to A3Mart! Enjoy shopping with
              us!` : `Please login to get more access!` %></span
            >
          </div>
        </div>
      </a>

      <div class="flex items-center md:mt-0 mt-3 gap-4 justify-center">
        <form
          id="searchForm"
          method="get"
          action="/"
          class="flex flex-grow justify-center items-center bg-white space-x-2 px-2 rounded-xl border border-gray-300 text-black shadow-sm disabled:opacity-50 disabled:pointer-events-none"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-search"
          >
            <circle cx="11" cy="11" r="8" />

            <path d="m21 21-4.3-4.3" />
          </svg>

          <input type="search" name="search" value="<%= req.query.search || ""
          %>" placeholder="Search for product..." class="w-full bg-transparent
          font-light text-base flex items-center justify-center
          focus:outline-none border-none ring-0 focus:ring-0
          placeholder-gray-400" />
        </form>

        <% if (req.isAuthenticated) { %>

        <!-- Dynamic Menu for Mobile View -->

        <div class="md:hidden justify-center items-center flex gap-2">
          <% menus.forEach(menu=> { %> <% if (menu.href) { %>

          <a
            href="<%- menu.href %>"
            class="p-2 rounded-md text-gray-600 border-white border flex items-center justify-center text-center hover:bg-slate-600 bg-slate-700 transition-colors duration-150 ease-in-out"
            aria-label="Menu item"
          >
            <span class="hover:text-lime-400 text-white"><%- menu.icon %></span>
          </a>

          <% }}) %>
        </div>

        <% } %>
      </div>
    </div>

    <!-- End Collapse -->
  </nav>
</header>

<!-- ========== END HEADER ========== -->

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/navbar.js"></script>
<script src="/js/logout.js"></script>
