<!-- ========== HEADER ========== -->

<header
  class="flex sticky top-0 flex-wrap md:justify-start md:flex-nowrap z-50 w-full py-4 bg-slate-950 shadow-lg"
>
  <nav
    class="relative w-full flex flex-wrap md:grid md:grid-cols-12 items-center px-4 md:px-8 mx-auto"
  >
    <div class="md:col-span-3">
      <!-- Logo -->
      <a
        class="flex-none rounded-xl text-3xl text-teal-400 inline-block font-semibold focus:outline-none focus:opacity-80"
        href="/"
        aria-label="Preline"
      >
        <img src="/img/logo_A3Mart.png" class="max-w-44" alt="" />
      </a>
      <!-- End Logo -->
    </div>

    <!-- Button Group -->
    <div
      class="flex items-center gap-x-1 md:gap-x-2 ms-auto py-1 md:ps-6 md:order-3 md:col-span-3"
    >
      <% if (!req.isAuthenticated) { %>
      <div class="flex gap-2 items-center">
        <a
          href="/sign-in"
          type="button"
          class="py-2 px-3 whitespace-nowrap inline-flex items-center gap-x-2 text-sm font-medium rounded-xl bg-white border border-gray-300 text-black hover:bg-gray-100 focus:outline-none focus:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:hover:bg-white/10 dark:text-white dark:hover:text-white"
        >
          Sign in
        </a>
        <a
          href="/register"
          type="button"
          class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-xl border border-transparent bg-lime-500 text-white hover:bg-lime-600 focus:outline-none focus:bg-lime-600 transition disabled:opacity-50 disabled:pointer-events-none"
        >
          Register
        </a>
      </div>
      <% } else { %>
      <div class="md:flex hidden gap-10 items-center justify-end">
        <div class="flex items-start gap-5">
          <% menus.forEach(menu=> { %> <% if (menu.href) { %>
          <a
            data-popover-placement="bottom"
            data-popover-target="<%= menu.title %>Big"
            href="<%- menu.href %>"
          >
            <span class="hover:text-lime-400 text-lg text-white"
              ><%- menu.icon %></span
            >
          </a>
          <% } %>

          <div
            data-popover
            id="<%= menu.title %>Big"
            role="tooltip"
            class="absolute z-10 invisibleinline-block w-80 max-h-96 overflow-y-auto text-sm text-gray-700 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-lg opacity-0 dark:text-gray-300 dark:border-gray-700 dark:bg-gray-800"
          >
            <!-- Header -->
            <div
              class="flex items-center justify-between px-4 py-3 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-700 dark:bg-gray-700"
            >
              <h3
                class="font-semibold text-lg gap-2 flex items-center text-gray-900 dark:text-white"
              >
                <span class="text-slate-950"><%- menu.icon %></span>
                <span><%- menu.title %></span>
              </h3>
              <div class="flex items-center p-2 bg-slate-950 rounded-lg">
                <img src="/img/logo_A3Mart.png" alt="Logo" class="w-20" />
              </div>
            </div>

            <div class="p-4 space-y-4 min-h-36">
              <!-- Cart Section -->
              <% if (menu.title === "Cart") { %>
              <div id="Cart-Pop">
                <% if (cart.items.length > 0) { %>
                <div class="space-y-2">
                  <% cart.items.forEach(item => { %>
                  <a
                    href="/product/<%= item.id %>"
                    class="flex items-center bg-white dark:bg-gray-800 rounded-lg shadow-md border border-gray-200 dark:border-gray-700"
                  >
                    <img
                      src="<%- item.thumbnail %>"
                      alt="Product Image"
                      class="w-16 h-16 rounded-md object-cover border border-gray-200 dark:border-gray-700"
                    />
                    <div class="flex-grow space-y-1">
                      <p
                        class="text-base font-semibold text-gray-900 dark:text-white"
                      >
                        <%- item.title %>
                      </p>
                      <p
                        class="text-xs text-gray-500 dark:text-gray-400 flex items-center"
                      >
                        <span
                          class="bg-blue-100 text-blue-600 dark:bg-blue-900 dark:text-blue-200 px-2 py-0.5 rounded-full font-medium mr-2"
                        >
                          Qty: <%- item.quantity %>
                        </span>
                      </p>
                      <p
                        class="text-gray-800 dark:text-gray-200 font-bold text-lg whitespace-nowrap"
                      >
                        Rp <%= Math.floor(item.price *
                        15000).toLocaleString("id-ID") %>
                      </p>
                    </div>
                  </a>
                  <% }) %>
                </div>
                <% } else { %>
                <p class="text-sm text-gray-500 dark:text-gray-400">
                  Your cart is empty.
                </p>
                <% } %>
              </div>

              <!-- History Section -->
              <% } else if (menu.title === "History") { %>
              <div>
                <% if (user.history.length > 0) { %>
                <div class="space-y-2">
                  <% user.history.forEach(item => { %>
                    <a
                    href="/history"
                    class="flex items-center space-x-4 p-4 bg-white dark:bg-gray-800 rounded-lg shadow-md border border-gray-200 dark:border-gray-700"
                  >
                    <div>
                      <p
                        class="text-sm font-medium text-gray-900 dark:text-white"
                      >
                        <%- item.date %>
                      </p>

                      <div class="flex flex-row items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="#47a31f" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shopping-cart"><circle cx="8" cy="21" r="1"/><circle cx="19" cy="21" r="1"/><path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"/></svg>

                        <p class="text-gray-900 text-lg ml-3">Rp <%= item.cart.total.toLocaleString("id-ID") %></p>
                      </div>

                      <div class="flex justify-between">
                        <button class="mt-4 text-blue-500 underline">View Order Details</button>
                        <% if (item.status && item.status.toLowerCase() === "delivered") { %>
                          <span class="text-green-500 font-medium ml-auto"><%= item.status %></span>
                        <% } else if (item.status && item.status.toLowerCase() === "shipped") { %>
                          <span class="text-yellow-500 font-medium ml-auto"><%= item.status %></span>
                        <% } else if (item.status && item.status.toLowerCase() === "on going") { %>
                          <span class="text-blue-500 font-medium ml-auto"><%= item.status %></span>
                        <% } else if (item.status && item.status.toLowerCase() === "canceled") { %>
                          <span class="text-red-500 font-medium ml-auto"><%= item.status %></span>
                        <% } %>
                      </div>

                    </div>
                  </a>
                  <% }) %>
                </div>
                <% } else { %>
                <p class="text-sm text-gray-500 flex dark:text-gray-400">
                  You haven't done any order.
                </p>
                <% } %>
              </div>

              <!-- Notification Section -->
              <% } else if (menu.title === "Notifications") { %>
              <div>
                <% if (user.notification.length > 0) { %>
                <div class="space-y-2">
                  <% user.notification.forEach(notification => { %>
                  <div class="flex items-center space-x-3">
                    <div class="text-lime-400"><%= notification.icon %></div>
                    <p class="text-sm text-gray-900 dark:text-white">
                      <%- notification.message %>
                    </p>
                  </div>
                  <% }) %>
                </div>
                <% } else { %>
                <p class="text-sm text-gray-500 dark:text-gray-400">
                  No notifications yet. Stay tuned!
                </p>
                <% } %>
              </div>

              <% } %>
            </div>

            <!-- Popover Arrow -->
            <div data-popper-arrow></div>
          </div>
          <% }) %>
        </div>

        <a
          data-popover-target="user-profile"
          data-popover-placement="bottom"
          href="/profile"
          class="flex bg-gradient-to-r items-center from-emerald-400 to-lime-300 rounded-lg px-3 py-2 shadow-lg"
        >
          <div class="flex items-center gap-2">
            <!-- Profile Image -->
            <div
              class="w-8 h-8 sm:w-10 sm:h-10 rounded-full border-2 border-white overflow-hidden flex items-center justify-center shadow-md bg-white dark:bg-neutral-800"
            >
              <img
                src="<%= user.profile_pic || '/img/profile.webp' %>"
                alt="profile"
                class="w-full h-full object-cover"
              />
            </div>

            <!-- Text Content (Only shown on medium screens) -->
            <div
              class="text-white font-semibold text-sm md:text-base truncate flex-grow min-w-0 hidden lg:block"
            >
              <%= user.fullname.split(" ")[0] %>
            </div>
          </div>
        </a>
        <div
          data-popover
          id="user-profile"
          role="tooltip"
          class="absolute z-10 invisible inline-block w-72 text-sm transition-opacity duration-200 transform bg-white border border-gray-300 rounded-lg shadow-md opacity-0 dark:bg-gray-800 dark:border-gray-700"
        >
          <div class="p-4">
            <!-- Profile Picture and Basic Info -->
            <a href="/profile" class="flex items-center mb-3">
              <img
                class="w-12 h-12 object-cover rounded-full border-2 shadow-sm border-gray-600"
                src="<%= user.profile_pic || '/img/profile.webp' %>"
                alt="Profile Picture"
              />
              <div class="ml-3">
                <p
                  class="text-base font-semibold text-gray-900 dark:text-white"
                >
                  <%= user.fullname %>
                </p>
                <p class="text-sm text-gray-500 dark:text-gray-400">
                  <%= user.email %>
                </p>
              </div>
            </a>

            <!-- Balance Information -->
            <div class="mb-4">
              <p class="text-sm font-medium text-gray-600 dark:text-gray-300">
                Balance:
              </p>
              <p class="text-lg font-semibold text-gray-800">
                <%= new Intl.NumberFormat('id-ID', { style: 'currency',
                currency: 'IDR' }).format(user.balance) %>
              </p>
            </div>

            <!-- Additional Information -->
            <% if (user.member) { %>
            <div class="mb-4">
              <p class="text-sm font-medium text-gray-600 dark:text-gray-300">
                Member Since:
              </p>
              <p class="text-sm text-gray-900 dark:text-gray-400">
                <%= formatDate(user.member_since) %>
              </p>
            </div>

            <div class="mb-4">
              <p class="text-sm font-medium text-gray-600 dark:text-gray-300">
                Account Status:
              </p>
              <p
                class="text-sm text-green-600 dark:text-green-500 font-semibold"
              >
                Active
              </p>
            </div>
            <% } else { %>

            <!-- Non-Member Specific Menu -->
            <div class="mb-4">
              <a
                href="/become-member"
                class="block w-full text-center text-sm font-medium text-indigo-600 bg-gray-100 border border-gray-300 rounded-md px-4 py-2 hover:bg-indigo-50 hover:border-indigo-400 hover:text-indigo-700 focus:ring-2 focus:ring-indigo-500 focus:outline-none dark:bg-gray-700 dark:text-indigo-500 dark:border-gray-600 dark:hover:bg-indigo-600 dark:hover:text-white"
              >
                Become a Member
              </a>
            </div>
            <% } %>

            <!-- Logout Button -->
            <div class="mt-4">
              <form action="/logout" method="post">
                <button
                  type="submit"
                  class="w-full text-sm font-medium text-red-600 bg-gray-100 border border-gray-300 rounded-md px-4 py-2 hover:bg-red-50 hover:border-red-400 hover:text-red-700 focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-red-500 dark:border-gray-600 dark:hover:bg-red-600 dark:hover:text-white"
                  onclick="handleLogout()"
                >
                  Logout
                </button>
              </form>
            </div>
          </div>
          <div data-popper-arrow></div>
        </div>
      </div>
      <% } %>
      <div class="md:hidden">
        <button
          type="button"
          class="hs-collapse-toggle flex justify-center items-center text-sm font-semibold rounded-xl border border-gray-300 text-white hover:bg-slate-400 focus:outline-none focus:bg-slate-400 p-1 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
          id="hs-navbar-hcail-collapse"
          aria-expanded="false"
          aria-controls="hs-navbar-hcail"
          aria-label="Toggle navigation"
          data-hs-collapse="#hs-navbar-hcail"
        >
          <svg
            class="hs-collapse-open:hidden shrink-0"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <line x1="3" x2="21" y1="6" y2="6" />
            <line x1="3" x2="21" y1="12" y2="12" />
            <line x1="3" x2="21" y1="18" y2="18" />
          </svg>
          <svg
            class="hs-collapse-open:block hidden shrink-0"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M18 6 6 18" />
            <path d="m6 6 12 12" />
          </svg>
        </button>
      </div>
    </div>

    <!-- End Button Group -->

    <!-- Collapse -->
    <div
      id="hs-navbar-hcail"
      class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow md:block md:w-auto md:basis-auto md:order-2 md:col-span-6"
      aria-labelledby="hs-navbar-hcail-collapse"
    >
      <a
        href="/sign-in"
        class="md:hidden flex flex-shrink-0 mt-2 bg-gradient-to-r from-emerald-400 to-lime-300 rounded-lg px-4 py-3 shadow-lg"
      >
        <div class="flex items-center gap-4">
          <!-- Profile Image -->
          <div
            class="rounded-full overflow-hidden flex items-center justify-center w-12 h-12 shadow-md bg-white dark:bg-neutral-800"
          >
            <img src="<%= req.isAuthenticated ? user.profile_pic ||
            '/img/profile.webp' : "/img/profile.webp"%>" alt="profile"
            class="w-full h-full object-cover" />
          </div>

          <!-- Text Content -->
          <div class="text-white font-semibold text-xl">
            Hi, User!
            <span class="block text-lg font-light"
              >Please login to get more access!</span
            >
          </div>
        </div>
      </a>
      <div class="flex items-center md:mt-0 mt-3 gap-4 justify-center">
        <form
          id="searchForm"
          method="get"
          action="/"
          class="flex flex-grow justify-center items-center bg-white space-x-2 px-2 rounded-xl border border-gray-300 text-black shadow-sm disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:hover:bg-white/10 dark:text-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-search"
          >
            <circle cx="11" cy="11" r="8" />
            <path d="m21 21-4.3-4.3" />
          </svg>
          <input type="search" name="search" value="<%= keyword || "" %>"
          placeholder="Search for product..." class="w-full bg-transparent
          font-light text-base flex items-center justify-center
          focus:outline-none border-none ring-0 focus:ring-0
          placeholder-gray-400 dark:placeholder-gray-500" />
        </form>

        <% if (req.isAuthenticated) { %>
        <!-- Dynamic Menu for Mobile View -->
        <div class="md:hidden justify-center items-center flex gap-2">
          <% menus.forEach(menu=> { %> <% if (menu.href) { %>
          <a
            href="<%- menu.href %>"
            class="p-2 rounded-md text-gray-600 border-white border flex items-center justify-center text-center hover:bg-slate-600 bg-slate-700 dark:text-gray-300 dark:hover:bg-neutral-800 transition-colors duration-150 ease-in-out"
            aria-label="Menu item"
          >
            <span class="hover:text-lime-400 text-white"><%- menu.icon %></span>
          </a>
          <% }}) %>
        </div>
        <% } %>
      </div>
    </div>
    <!-- End Collapse -->
  </nav>
</header>
<!-- ========== END HEADER ========== -->
<script src="/js/navbar.js"></script>
