<h1 class="text-5xl font-bold text-center my-4">
  Products in <%= title %> category
</h1>

<div class="products-container flex flex-wrap justify-center">
  <% products.forEach(product=> { %>
  <div
    class="product-card card w-1/4 m-4 bg-white rounded-lg shadow-md overflow-hidden transition-transform transform hover:scale-105"
  >
    <img
      src="<%= product.images[0] %>"
      alt="<%= product.title %>"
      class="h-72 w-full object-cover"
    />
    <div class="p-4">
      <h2 class="font-semibold text-lg"><%= product.title %></h2>
      <p class="text-gray-700">
        Rp <%= (product.price * 15000).toLocaleString('id-ID') %>
      </p>
    </div>
  </div>
  <% }) %>
</div>
