<%- include('./components/promo') %> <% if (req.isAuthenticated) { %> <%-
include('./components/money') %> <% } %> <%-include('./components/categories')
%>

<div class="p-4 space-y-8">
  <% products.forEach(item => { %>
  <div>
    <h2 class="font-bold text-xl sm:text-2xl m-4 text-center">
      <%= item.name %>
    </h2>

    <div
      class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4"
    >
      <% item.products.forEach(product => { %>
      <div
        class="card bg-white border rounded-lg shadow-md overflow-hidden transition-transform transform hover:scale-105 flex flex-col"
      >
        <a href="/product/<%= product.id %>" class="block">
          <img
            src="<%= product.thumbnail %>"
            alt="<%= product.title %>"
            class="h-48 w-full object-contain p-2"
          />
          <div class="text-center">
            <h3 class="font-semibold text-lg mb-1 h-14 line-clamp-2">
              <%= product.title %>
            </h3>
          </div>
        </a>
        <div class="flex items-end justify-between p-4 mt-auto">
          <p class="text-gray-800 font-semibold whitespace-nowrap text-lg">
            Rp <%= Math.floor(product.price * 15000).toLocaleString("id-ID") %>
          </p>
          <% if (req.isAuthenticated) { %>
          <div id="quantity-<%= product.id %>" class="flex items-end space-x-2">
            <% if (cart.items.find(item => item.id === product.id)) { %>
            <div
              class="flex items-center space-x-2 bg-gray-100 p-1 rounded-full shadow-md"
            >
              <button
                onclick="decreaseQuantity(event, '<%= product.id %>')"
                class="bg-red-500 text-white rounded-full w-8 h-8 flex items-center justify-center hover:bg-red-600 disabled:opacity-50 disabled:cursor-not-allowed"
              >
                <!-- Minus Icon -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  width="16"
                  height="16"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M20 12H4"
                  />
                </svg>
              </button>
              <span
                id="quantity-display-<%=product.id%>"
                class="text-gray-800 font-semibold"
                ><%= cart.items.find(item => item.id === product.id).quantity
                %></span
              >
              <button
                onclick="increaseQuantity(event, '<%= product.id %>')"
                class="bg-green-500 text-white rounded-full w-8 h-8 flex items-center justify-center hover:bg-green-600 disabled:opacity-50 disabled:cursor-not-allowed"
              >
                <!-- Plus Icon -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  width="16"
                  height="16"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 4v16m8-8H4"
                  />
                </svg>
              </button>
            </div>
            <% } else { %>
            <button
              onclick="addQuantity(event, '<%= product.id %>')"
              class="bg-blue-500 text-white rounded-full w-8 h-8 flex items-center justify-center transition hover:bg-blue-600 shadow-md"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                width="20"
                height="20"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 4v16m8-8H4"
                />
              </svg>
            </button>
            <% } %>
          </div>
          <% } %>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
  <% }) %>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/cartHandle.js"></script>
