<section id="otp" class="h-screen">
  <div class="h-full flex items-center justify-center bg-gray-900 relative">
    <!-- Right column: Forms Container -->
    <div
      class="w-full xs:mx-10 xs:max-w-md p-6 flex flex-col gap-4 bg-white rounded-lg shadow-lg z-10"
      data-hs-pin-input=""
    >
      <h1 class="text-center text-3xl font-bold">Verify OTP</h1>
      <p class="text-center text-gray-500">
        Enter the 6-digit OTP sent to your <%= isEmail ? "email address" :
        "phone number" %>.
        <button
          type="button"
          class="text-lime-500 hover:text-lime-700 inline-block hover:underline"
          onclick="resendOtp()"
        >
          Resend OTP
        </button>
      </p>
      <!-- Verify Form input -->
      <form
        id="verifyForm"
        method="post"
        action="<%= isAuth? login ? '/sign-in/verify-account' : email ? '/register/verify-email' : '/register/verify-number' : isEmail ? "/profile/email?_method=PUT" : "/profile/phone?_method=PUT" %>"
        class="flex flex-col gap-4"
        onsubmit="handleSubmit(event)"
      >
        <% if (isAuth) { %>
        <input type="hidden" name="no_hp" value="<%= no_hp %>" />
        <% if (!login) { %>
        <input type="hidden" name="email" value="<%= email %>" />
        <input type="hidden" name="fullname" value="<%= fullname %>" />
        <% } %> <% } else { %> <% if (isEmail) { %>
        <input type="hidden" name="email" value="<%= email %>" />
        <% } else { %>
        <input type="hidden" name="no_hp" value="<%= no_hp %>" />
        <% } %> <% } %>
        <div class="flex space-x-2 justify-center">
          <!-- OTP inputs -->
          <input
            type="text"
            maxlength="1"
            class="otp-input block w-11 h-11 xs:w-12 xs:h-12 text-center bg-gray-200 border border-gray-300 rounded-md text-sm focus:border-lime-500 focus:ring-lime-500"
            placeholder="⚬"
            data-hs-pin-input-item=""
          />
          <input
            type="text"
            maxlength="1"
            class="otp-input block w-11 h-11 xs:w-12 xs:h-12 text-center bg-gray-200 border border-gray-300 rounded-md text-sm focus:border-lime-500 focus:ring-lime-500"
            placeholder="⚬"
            data-hs-pin-input-item=""
          />
          <input
            type="text"
            maxlength="1"
            class="otp-input block w-11 h-11 xs:w-12 xs:h-12 text-center bg-gray-200 border border-gray-300 rounded-md text-sm focus:border-lime-500 focus:ring-lime-500"
            placeholder="⚬"
            data-hs-pin-input-item=""
          />
          <input
            type="text"
            maxlength="1"
            class="otp-input block w-11 h-11 xs:w-12 xs:h-12 text-center bg-gray-200 border border-gray-300 rounded-md text-sm focus:border-lime-500 focus:ring-lime-500"
            placeholder="⚬"
            data-hs-pin-input-item=""
          />
          <input
            type="text"
            maxlength="1"
            class="otp-input block w-11 h-11 xs:w-12 xs:h-12 text-center bg-gray-200 border border-gray-300 rounded-md text-sm focus:border-lime-500 focus:ring-lime-500"
            placeholder="⚬"
            data-hs-pin-input-item=""
          />
          <input
            type="text"
            maxlength="1"
            class="otp-input block w-11 h-11 xs:w-12 xs:h-12 text-center bg-gray-200 border border-gray-300 rounded-md text-sm focus:border-lime-500 focus:ring-lime-500"
            placeholder="⚬"
            data-hs-pin-input-item=""
          />
        </div>

        <!-- Invalid OTP message -->
        <div id="invalidOtpMessage" class="text-red-500 hidden text-center">
          Invalid OTP. Please try again.
        </div>

        <button
          type="submit"
          class="w-full bg-lime-500 text-white py-2 rounded hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-lime-300"
        >
          Verify
        </button>
      </form>
    </div>
  </div>

  <!-- Background Image -->
  <img
    src="/img/logo_A3Mart.png"
    alt="Background Logo"
    class="xs:block hidden absolute inset-0 w-full h-full object-contain opacity-10"
  />
</section>

<script src="/js/verify.js"></script>
