<div class="container mx-auto mt-8 p-8 md:p-10 bg-gray-50 rounded-lg shadow-md">
  <h1 class="text-5xl font-bold text-center text-gray-800 mb-6">
    <%= product.title %>
  </h1>
  <div class="flex flex-col md:flex-row items-start justify-between">
    <img
      src="<%= product.thumbnail %>"
      alt="<%= product.title %>"
      class="w-64 h-auto rounded-lg shadow-lg mb-4 md:mb-0 md:mr-6 transition-transform transform hover:scale-105"
    />
    <div class="flex-grow">
      <p class="text-2xl font-semibold text-gray-900 mb-2">
        Price: <%= formatCurrency(product.price * 10000) %>
      </p>
      <p class="text-base text-gray-600 mb-2">
        Brand:
        <span class="font-semibold text-gray-800"
          ><%= product.brand ?? "-" %></span
        >
      </p>
      <p class="text-base text-gray-600 mb-2">
        Category:
        <a
          href="/category/<%= product.category.toLowerCase().replace(/\s+/g, '-') %>/product/<%= product.id %>"
          class="font-semibold text-blue-600 hover:underline capitalize"
          ><%= product.category %></a
        >
      </p>
      <div class="flex flex-wrap mb-4">
        <% product.tags.forEach(tag => { %>
        <span
          class="bg-blue-100 text-blue-600 text-xs font-medium mr-2 mb-2 px-2.5 py-0.5 rounded-full"
        >
          <%= tag %>
        </span>
        <% }); %>
      </div>
      <p class="text-lg text-gray-700 mt-4 leading-relaxed">
        <%= product.description %>
      </p>
      <div class="mt-6">
        <% if (req.isAuthenticated) { %>
        <div class="flex items-center space-x-4">
          <a
            class="bg-green-600 text-white py-3 px-6 rounded-md shadow-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 transition duration-300 ease-in-out text-lg"
            href="/cart"
          >
            Your Cart
          </a>
          <div id="quantity-<%= product.id %>" class="flex items-end space-x-2">
            <% if (cart.items.find(item => item.id === product.id)) { %>
            <div
              id="quantity-<%= product.id %>"
              class="flex items-center space-x-2 bg-gray-100 p-1 rounded-full shadow-md"
            >
              <button
                onclick="decreaseQuantity(event, '<%= product.id %>')"
                class="bg-red-500 text-white rounded-full w-8 h-8 flex items-center justify-center hover:bg-red-600 disabled:opacity-50 disabled:cursor-not-allowed"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  width="16"
                  height="16"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M20 12H4"
                  />
                </svg>
              </button>
              <span
                id="quantity-display-<%=product.id%>"
                class="text-gray-800 font-semibold"
              >
                <%= cart.items.find(item => item.id === product.id).quantity %>
              </span>
              <button
                onclick="increaseQuantity(event, '<%= product.id %>')"
                class="bg-green-500 text-white rounded-full w-8 h-8 flex items-center justify-center hover:bg-green-600 disabled:opacity-50 disabled:cursor-not-allowed"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  width="16"
                  height="16"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 4v16m8-8H4"
                  />
                </svg>
              </button>
            </div>
            <% } else { %>
            <button
              onclick="addQuantity(event, '<%= product.id %>')"
              class="bg-blue-500 text-white rounded-full w-8 h-8 flex items-center justify-center transition hover:bg-blue-600 shadow-md"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                width="20"
                height="20"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 4v16m8-8H4"
                />
              </svg>
            </button>
            <% } %>
          </div>
        </div>
        <% } else { %>
        <a
          class="w-full flex items-center justify-center bg-blue-500 text-white py-3 px-6 rounded-md shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-300 ease-in-out text-lg"
          href="/sign-in"
        >
          Login to Add to Cart
        </a>
        <% } %>
      </div>
    </div>
  </div>

  <!-- Related Products Section -->
  <h2 class="text-3xl font-bold text-gray-800 mt-8 mb-4 text-center">
    Recommended Products
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <% relatedProducts.forEach(relatedProduct => { %>
    <a
      href="/product/<%= relatedProduct.id %>"
      class="card bg-white border rounded-lg shadow-md overflow-hidden transition-transform transform hover:scale-105"
    >
      <img
        src="<%= relatedProduct.thumbnail %>"
        alt="<%= relatedProduct.title %>"
        class="h-48 w-full object-contain p-2"
      />
      <div class="p-4 text-center">
        <h3 class="font-semibold text-lg mb-1"><%= relatedProduct.title %></h3>
        <p class="text-gray-800 text-base">
          <%= formatCurrency(relatedProduct.price * 10000) %>
        </p>
      </div>
    </a>
    <% }); %>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/cartHandle.js"></script>
