<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.js"></script>
<style>
  h1 {
    font-size: 36px;
    color: #333;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
  }

  .leaflet-container {
    border-radius: 12px;
  }

  .leaflet-routing-container .leaflet-routing-alt {
    display: none;
  }

  .info-box {
    color: white;
    padding: 10px;
    border-radius: 6px;
    margin: 10px 0;
    font-size: 16px;
    background-color: #4caf50;
  }

  .distance-info {
    background-color: #ff9800;
  }

  @media (max-width: 768px) {
    #map {
      height: 400px;
    }

    h1 {
      font-size: 28px;
    }

    #driver {
      width: 90%;
    }
  }
</style>

<div
  class="bg-gray-100 font-sans min-h-screen p-4 flex flex-col items-center justify-center"
>
  <h1 class="text-4xl md:text-5xl font-bold text-gray-800 mt-5 text-center">
    Location
  </h1>

  <!-- Map and Driver Section -->
  <div
    class="w-full flex z-0 flex-col md:flex-row items-center justify-center md:space-x-6 md:w-11/12 xl:w-10/12 mt-6"
  >
    <!-- Map Section (2/3 of screen width on larger screens) -->
    <div
      id="map"
      class="w-full md:w-2/3 h-[500px] md:h-[600px] my-6 rounded-lg shadow-lg transition-all duration-300 ease-in-out"
    ></div>
  </div>

  <!-- Shopping and Order Summary Section -->
  <div
    class="w-full md:w-11/12 xl:w-10/12 flex flex-col md:flex-row space-y-6 md:space-y-0 md:space-x-6 mt-6"
  >
    <!-- Shopping Bag -->
    <div class="w-full md:w-1/2 bg-white p-6 rounded-lg shadow-lg">
      <h2
        class="text-2xl font-bold mb-4 text-gradient bg-gradient-to-r from-blue-500 to-purple-900 bg-clip-text text-transparent"
      >
        Shopping Bag
      </h2>

      <% cart?.items?.forEach(item => { %>
      <div
        class="flex items-start border-b border-gray-300 pb-4 mb-4"
        id="product-<%= item.id %>"
      >
        <a href="/product/<%= item.id %>">
          <img
            src="<%= item.thumbnail %>"
            alt="<%= item.title %>"
            class="w-20 h-20 md:w-24 md:h-24 object-cover rounded-md mr-4"
          />
        </a>
        <div class="flex-1">
          <h3 class="font-semibold text-lg"><%= item.title %></h3>
          <p class="text-gray-500">Price: <%= formatCurrency(item.price) %></p>
          <p class="text-gray-500">Brand: <%= item.brand %></p>
          <p class="text-gray-500">Category: <%= item.category %></p>
        </div>
        <div class="flex flex-col items-end ml-6">
          <label class="text-gray-500 mb-1">Quantity</label>
          <p class="mt-4 font-bold text-lg"><%= item.quantity %></p>
          <p class="mt-4 font-bold text-lg">
            <%= formatCurrency(item.total) %>
          </p>
        </div>
      </div>
      <% }) %>
    </div>

    <!-- Order Summary -->
    <div class="w-full md:w-1/2 bg-white p-6 rounded-lg shadow-lg">
      <h2
        class="text-2xl font-bold mb-4 text-gradient bg-gradient-to-r from-blue-500 to-purple-900 bg-clip-text text-transparent"
      >
        Order Summary
      </h2>

      <div class="space-y-2" id="order-summary">
        <div class="flex justify-between">
          <span>Subtotal</span>
          <span id="subtotal"><%= formatCurrency(cart.cart_total) %></span>
        </div>
        <div class="flex justify-between">
          <span>Delivery</span>
          <span id="delivery">0</span>
        </div>
        <div class="flex justify-between">
          <span>Tax</span>
          <span><%= formatCurrency(cart.tax) %></span>
        </div>
        <div class="flex justify-between text-red-600">
          <span>Member Discount</span>
          <span>- <%= formatCurrency(cart.member_discount) %></span>
        </div>
      </div>

      <div class="flex justify-between text-xl font-bold mt-6">
        <span>Total</span>
        <span id="total"><%= formatCurrency(cart.total) %></span>
      </div>
      <button
        id="order"
        onclick="orderDriver(<%- cart?.items?.reduce((quantity, item) => quantity += item.quantity, 0) %>)"
        class="w-full bg-blue-500 text-white py-3 rounded-lg font-semibold hover:bg-blue-600 transition duration-300 ease-in-out mt-5 disabled:opacity-50 disabled:cursor-not-allowed"
      >
        Order Driver
      </button>
      <button
        id="confirm"
        onclick="confirmOrder()"
        class="w-full hidden bg-green-500 text-white py-3 rounded-lg font-semibold hover:bg-green-600 transition duration-300 ease-in-out mt-5 disabled:opacity-50 disabled:cursor-not-allowed"
      >
        Confirm Order
      </button>
      <button
        id="cancel"
        class="w-full hidden bg-gray-500 text-white py-3 rounded-lg font-semibold hover:bg-gray-600 transition duration-300 ease-in-out mt-5 disabled:opacity-50 disabled:cursor-not-allowed"
      >
        Cancel Order
      </button>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/decimal.js/9.0.0/decimal.js"
  integrity="sha512-j7XClNLgl5hebr3jl5xMoEpuaniuP60N1Sz62xHwJSbuCgUNgP0kDZCGFbUAphBB6dgk7WxMnwKmP6vsY7fV7g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="/js/order.js"></script>
