<div class="max-w-4xl mx-auto bg-white p-6 my-6 rounded-lg shadow-md border">
  <div>
    <h2
      class="text-2xl font-bold mb-2 bg-gradient-to-r from-blue-500 to-purple-950 bg-clip-text text-transparent"
    >
      Shopping bag
    </h2>
    <div id="shopping-bag">
      <% if (cart?.items?.length > 0) { %> <% cart?.items?.forEach(item => { %>
      <div class="flex items-start border-b pb-4 mb-4" id="product-<%= item %>">
        <a href="/product/<%= item.id %>">
          <img
            src="<%= item.thumbnail %>"
            alt="<%= item.title %>"
            class="w-24 h-24 object-cover rounded-md mr-4"
          />
        </a>
        <div class="flex-1">
          <h3 class="font-semibold text-lg"><%= item.title %></h3>
          <p class="text-gray-500">Price: <%= formatCurrency(item.price) %></p>
          <p class="text-gray-500">Brand: <%= item.brand || "-" %></p>
          <p class="text-gray-500">Category: <%= item.category %></p>
        </div>
        <div class="flex flex-col items-end ml-6">
          <label class="text-gray-500">Quantity</label>
          <div id="quantity-<%= item.id %>" class="flex items-end space-x-2">
            <div
              class="flex items-center space-x-2 bg-gray-100 p-1 rounded-full shadow-md"
            >
              <button
                onclick="decreaseQuantity(event, '<%= item.id %>', '<%= item.quantity %>')"
                class="bg-red-500 text-white rounded-full w-8 h-8 flex items-center justify-center hover:bg-red-600 disabled:opacity-50 disabled:cursor-not-allowed"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  width="16"
                  height="16"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M20 12H4"
                  />
                </svg>
              </button>
              <span
                id="quantity-display-<%= item.id %>"
                class="text-gray-800 font-semibold"
              >
                <%= item.quantity %>
              </span>
              <button
                onclick="increaseQuantity(event, '<%= item.id %>', '<%= item.quantity %>')"
                class="bg-green-500 text-white rounded-full w-8 h-8 flex items-center justify-center hover:bg-green-600 disabled:opacity-50 disabled:cursor-not-allowed"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  width="16"
                  height="16"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 4v16m8-8H4"
                  />
                </svg>
              </button>
            </div>
          </div>
          <div class="mt-4">
            <a
              href="/product/<%= item.id %>"
              class="text-blue-600 underline hover:text-blue-700 transition duration-300 ease-in-out"
            >
              View Details
            </a>
          </div>
          <div class="mt-4 font-bold text-lg">
            <p><%= formatCurrency(item.total) %></p>
          </div>
        </div>
      </div>
      <% }) %> <% } else { %>
      <div class="text-center text-gray-500">
        <p>Your cart is currently empty.</p>
      </div>
      <% } %>
    </div>

    <!-- Order Summary Section -->
    <div class="mt-8">
      <h2
        class="text-2xl font-bold mb-2 bg-gradient-to-r from-blue-500 to-purple-900 bg-clip-text text-transparent"
      >
        Order summary
      </h2>
      <div class="space-y-2" id="order-summary">
        <div class="flex justify-between">
          <span>Subtotal</span>
          <span id="subtotal"
            ><%= formatCurrency(cart.cart_total || 0,00) %></span
          >
        </div>
        <div class="flex justify-between">
          <span>Tax</span>
          <span id="tax"><%= formatCurrency(cart.tax || 0,00) %></span>
        </div>
        <div class="flex justify-between text-red-600">
          <span>Member Discount</span>
          <span id="member_discount"
            >- <%= formatCurrency(cart.member_discount || 0,00) %></span
          >
        </div>
      </div>
      <div class="flex justify-between text-xl font-bold mt-4">
        <span>Total</span>
        <span id="total"><%= formatCurrency(cart.total || 0,00) %></span>
      </div>
    </div>

    <!-- Checkout Button -->
    <div class="mt-6 w-full">
      <button
        onclick="window.location.href = '/order'"
        <%="cart?.items"
        &&
        cart?.items?.length
      >
        0 ? '' : 'disabled' %> class="w-full bg-blue-500 text-white py-3
        rounded-lg font-semibold hover:bg-blue-600 transition duration-300
        ease-in-out mt-5 disabled:opacity-50 disabled:cursor-not-allowed" >
        Checkout
      </button>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/cartHandle.js"></script>
</div>
