<style>
  /* Adjust the container size and overflow */
  .lottie-container {
    width: 80px; /* Adjust to crop */
    height: 80px; /* Adjust to crop */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
<div class="bg-gray-100 min-h-screen flex items-center justify-center">
  <div class="flex flex-col items-center space-y-10 px-4 sm:px-6 lg:px-8">
    <!-- Container with input and buttons -->
    <div
      class="flex flex-col items-center border rounded-xl shadow-lg bg-white p-8 max-w-md w-full space-y-8"
    >
      <div
        class="flex items-center space-x-4 text-xl font-extrabold text-gray-800"
      >
        <span class="text-2xl">Rp</span>
        <input
          id="amount"
          type="text"
          class="w-full h-16 px-6 md:text-xl sm:text-lg rounded-lg bg-gray-50 border border-gray-300 text-gray-700 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-lime-500 focus:border-lime-500 transition"
          placeholder="Enter amount"
        />
      </div>

      <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-3 gap-8 mt-8">
        <!-- Amount selection buttons -->
        <button
          id="first"
          class="amount-button text-base py-3 px-6 bg-gray-100 rounded-lg hover:bg-gray-200 transition"
        >
          18.5k
        </button>
        <button
          id="second"
          class="amount-button text-base py-3 px-6 bg-gray-100 rounded-lg hover:bg-gray-200 transition"
        >
          48.5k
        </button>
        <button
          id="third"
          class="amount-button text-base py-3 px-6 bg-gray-100 rounded-lg hover:bg-gray-200 transition"
        >
          98.5k
        </button>
        <button
          id="fourth"
          class="amount-button text-base py-3 px-6 bg-gray-100 rounded-lg hover:bg-gray-200 transition"
        >
          198.5k
        </button>
        <button
          id="fifth"
          class="amount-button text-base py-3 px-6 bg-gray-100 rounded-lg hover:bg-gray-200 transition"
        >
          298.5k
        </button>
        <button
          id="sixth"
          class="amount-button text-base py-3 px-6 bg-gray-100 rounded-lg hover:bg-gray-200 transition"
        >
          498.5k
        </button>
      </div>
    </div>

    <!-- Dropdown menu -->
    <div class="relative mt-8 w-full max-w-md">
      <!-- Dropdown button -->
      <button
        id="hs-dropdown"
        class="relative w-full py-5 px-6 bg-white rounded-lg shadow flex items-center justify-between text-xl text-gray-700 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-lime-500 transition"
      >
        <span id="dropdown-label" class="flex items-center space-x-4">
          Choose your top-up method
        </span>

        <!-- Clear button -->
        <span
          id="clear-dropdown"
          class="absolute mr-14 right-0 top-1/2 transform hidden -translate-y-1/2 cursor-pointer text-gray-400 hover:text-red-500 transition"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-delete"
          >
            <path
              d="M10 5a2 2 0 0 0-1.344.519l-6.328 5.74a1 1 0 0 0 0 1.481l6.328 5.741A2 2 0 0 0 10 19h10a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2z"
            />
            <path d="m12 9 6 6" />
            <path d="m18 9-6 6" />
          </svg>
        </span>

        <!-- Dropdown icon -->
        <svg
          id="dropdown-icon"
          class="w-6 h-6 text-gray-400"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"
          />
        </svg>
      </button>

      <!-- Dropdown menu -->
      <div
        id="dropdown-menu"
        class="absolute mt-3 w-full max-h-[300px] overflow-y-scroll bg-white shadow-lg rounded-lg hidden z-10 transition"
      >
        <!-- Minimart Section -->
        <div class="px-4 py-2">
          <h3 class="text-lg font-semibold text-gray-600 mb-2">Minimart</h3>
          <div class="grid grid-cols-2 gap-2">
            <% methods.minimart.forEach(meth => { %>
            <button
              class="store-option w-full px-4 py-4 text-lg text-gray-700 hover:bg-gray-100 flex items-center space-x-4 rounded-lg border transition"
              data-store="<%= meth %>"
            >
              <img
                src="/img/topup/<%= meth.toLowerCase() %>.png"
                alt="<%= meth %>"
                class="w-10 h-10 rounded-full object-contain"
              />
              <span><%= meth %></span>
            </button>
            <% }) %>
          </div>
        </div>

        <!-- Digital Wallet Section -->
        <div class="px-4 py-2">
          <h3 class="text-lg font-semibold text-gray-600 mb-2">
            Digital Wallet
          </h3>
          <div class="grid grid-cols-2 gap-2">
            <% methods.digwall.forEach(meth => { %>
            <button
              class="store-option w-full px-4 py-4 text-lg text-gray-700 hover:bg-gray-100 flex items-center space-x-4 rounded-lg border transition"
              data-store="<%= meth %>"
            >
              <img
                src="/img/topup/<%= meth.toLowerCase() %>.png"
                alt="<%= meth %>"
                class="w-10 h-10 rounded-full object-contain"
              />
              <span><%= meth %></span>
            </button>
            <% }) %>
          </div>
        </div>

        <!-- Bank Section -->
        <div class="px-4 py-2">
          <h3 class="text-lg font-semibold text-gray-600 mb-2">Bank</h3>
          <div class="grid grid-cols-2 gap-2">
            <% methods.bank.forEach(meth => { %>
            <button
              class="store-option w-full px-4 py-4 text-lg text-gray-700 hover:bg-gray-100 flex items-center space-x-4 rounded-lg border transition"
              data-store="<%= meth %>"
            >
              <img
                src="/img/topup/<%= meth.toLowerCase() %>.png"
                alt="<%= meth %>"
                class="w-10 h-10 rounded-full object-contain"
              />
              <span><%= meth %></span>
            </button>
            <% }) %>
          </div>
        </div>
      </div>
    </div>

    <!-- Confirm Button -->
    <button
      id="confirm-button"
      type="button"
      aria-haspopup="dialog"
      aria-expanded="false"
      aria-controls="confirm-payment"
      data-hs-overlay="#confirm-payment"
      disabled
      class="mt-8 w-full max-w-md py-4 text-xl text-white bg-lime-500 rounded-lg shadow hover:bg-lime-600 focus:outline-none focus:ring-2 focus:ring-lime-700 opacity-50 cursor-not-allowed transition"
    >
      Confirm & Top Up
    </button>
  </div>

  <!-- Modal for Confirmation -->
  <div
    id="confirm-payment"
    class="hs-overlay hidden size-full fixed top-0 start-0 z-[80] overflow-x-hidden overflow-y-auto pointer-events-none bg-opacity-50 bg-black transition-opacity duration-300 ease-in-out"
    role="dialog"
    tabindex="-1"
    aria-labelledby="confirm-payment-label"
  >
    <div
      class="hs-overlay-animation-target hs-overlay-open:scale-100 hs-overlay-open:opacity-100 scale-95 opacity-0 ease-in-out transition-all duration-200 sm:max-w-lg sm:w-full m-4 sm:mx-auto min-h-[calc(100%-3.5rem)] flex items-center justify-center"
    >
      <div
        class="w-full flex flex-col bg-white border shadow-lg rounded-xl pointer-events-auto"
      >
        <div
          class="flex justify-between items-center py-4 px-6 border-b"
        >
          <h3
            id="confirm-payment-label"
            class="font-bold text-xl text-gray-800"
          >
            Payment Confirmation
          </h3>
          <button
            type="button"
            class="text-gray-800 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 rounded-full p-2"
            aria-label="Close"
            data-hs-overlay="#confirm-payment"
          >
            <span class="sr-only">Close</span>
            <svg
              class="w-6 h-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              viewBox="0 0 24 24"
            >
              <path d="M18 6 6 18"></path>
              <path d="m6 6 12 12"></path>
            </svg>
          </button>
        </div>
        <div class="p-6">
          <p
            class="text-lg text-gray-800"
            id="topup-message"
          >
            You are about to top up Rp. <span id="amount-display">0</span> using
            <span id="store-display">Store Name</span>.
          </p>
        </div>
        <div
          class="flex justify-end gap-4 py-4 px-6 border-t"
        >
          <button
            type="button"
            class="py-2 px-4 text-sm font-medium rounded-lg border border-gray-200 bg-gray-100 text-gray-800 hover:bg-gray-200 focus:outline-none focus:bg-gray-200"
            data-hs-overlay="#confirm-payment"
          >
            Close
          </button>
          <button
            id="payment"
            class="py-2 px-4 text-sm font-medium rounded-lg border border-transparent bg-lime-500 text-white hover:bg-lime-600 focus:outline-none focus:ring-2 focus:ring-lime-700"
          >
            Proceed to Payment
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  id="successModal"
  class="fixed inset-0 items-center justify-center bg-gray-800 bg-opacity-50 hidden animate-fadeIn"
>
  <div class="bg-white p-6 rounded-lg shadow-lg w-80 text-center">
    <!-- Lottie Wallet Animation -->
    <div class="flex justify-center mb-4">
      <lottie-player
        src="https://lottie.host/c2f64dd2-f7f6-4146-a417-203d778c64ce/MNjgrCutFp.json"
        background="transparent"
        speed="1"
        style="width: 80px; height: 80px"
        autoplay
      ></lottie-player>
    </div>
    <!-- Success Message -->
    <p class="text-sky-700 font-semibold text-lg" id="successText">
      <%= success %>
    </p>
    <!-- Button -->
    <button
      onclick="window.location.replace('/');"
      class="mt-6 bg-sky-500 hover:bg-sky-600 text-white py-2 px-6 rounded-full shadow-md transition duration-300"
    >
      Okay
    </button>
  </div>
</div>
<div
  id="moneySad"
  class="fixed inset-0 items-center justify-center bg-gray-800 bg-opacity-50 hidden animate-fadeIn"
>
  <div class="bg-white p-6 rounded-lg shadow-lg w-80 text-center">
    <!-- Lottie Check Animation -->
    <div class="flex justify-center mb-4">
      <lottie-player
        src="https://lottie.host/c53db5de-3aca-40e8-a7dc-656ca74b40c2/F4BNPcfMIi.json"
        background="transparent"
        speed="1"
        style="width: 150px; height: 150px; overflow: hidden"
        autoplay
        loop
      ></lottie-player>
    </div>
    <p class="text-amber-600 font-semibold text-lg" id="errorText">
      <%= balance %>
    </p>
    <button
      id="closeBroke"
      class="mt-6 bg-amber-600 hover:bg-amber-700 text-white py-2 px-6 rounded-full shadow-md transition duration-300"
    >
      Close
    </button>
  </div>
</div>

<script>
  const successMessage = "<%= success %>";

  if (successMessage) {
    // Show the success modal
    document.getElementById("successModal").classList.remove("hidden");
    document.getElementById("successModal").classList.add("flex");
  }

  const balanceMessage = "<%= balance %>";

  if (balanceMessage) {
    // Show the success modal
    document.getElementById("moneySad").classList.remove("hidden");
    document.getElementById("moneySad").classList.add("flex");
  }

  // Close modal on button click
  document.getElementById("closeBroke").addEventListener("click", function () {
    document.getElementById("moneySad").classList.add("hidden");
    document.getElementById("moneySad").classList.remove("flex");
  });
</script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/top-up.js"></script>
